<apex:page renderAs="pdf" applyBodyTag="false" standardController="Case">
    
    <!--c:DCRS_Provisional_Proposal_17_2 relatedCase="{!Case}"></c:DCRS_Provisional_Proposal_17_2-->
    <!--c:DCRS_FINAL_PROPOSAL_17_2 relatedCase="{!Case}"></c:DCRS_FINAL_PROPOSAL_17_2-->
    <!--c:DCRS_Manual_Final_Proposal_17_2 relatedCase="{!Case}"></c:DCRS_Manual_Final_Proposal_17_2-->
    <!--c:rejection relatedCase="{!Case}"></c:rejection-->
    <!--c:dcrs_ammended_proposal_17_2 relatedCase="{!Case}"></c:dcrs_ammended_proposal_17_2-->
    <!--c:Form_17_2 relatedCase="{!Case}"></c:Form_17_2-->
    <!--c:dcrs_manual_provisional_proposal_17_2 relatedCase="{!Case}"></c:dcrs_manual_provisional_proposal_17_2-->
    <!--c:manual_amended_proposal_17_2 relatedCase="{!Case}"></c:manual_amended_proposal_17_2-->
    
    <!--c:Proposal_Schedule_Summary relatedCase="{!Case}"></c:Proposal_Schedule_Summary-->
    <c:RL_01_Request_documents_to_confirm_RL relatedCase="{!Case}"></c:RL_01_Request_documents_to_confirm_RL>
    <!--c:rl_02_2nd_request_for_docs_to_confirm_rl relatedCase="{!Case}"></c:rl_02_2nd_request_for_docs_to_confirm_rl>
    <c:rl_03_3rd_request_for_docs_to_confirm_rl relatedCase="{!Case}"></c:rl_03_3rd_request_for_docs_to_confirm_rl>
    <c:rl_04_allegation_of_rl_to_nca relatedCase="{!Case}"></c:rl_04_allegation_of_rl_to_nca>
    <c:rl_05_follow_up_allegation_of_rl_to_nca relatedCase="{!Case}"></c:rl_05_follow_up_allegation_of_rl_to_nca>
    <c:rl_06_final_follow_up_allegation_rl_nca relatedCase="{!Case}"></c:rl_06_final_follow_up_allegation_rl_nca-->

    <!--c:Form17Withdrawal_DR_Component relatedCase="{!Case}"></c:Form17Withdrawal_DR_Component!-->
    <!--c:Form17Withdrawal_DC_Collect_Component relatedCase="{!Case}"></c:Form17Withdrawal_DC_Collect_Component-->
</apex:page>