<apex:page contentType="application/msWord" applyBodyTag="false" standardController="Process__c">
    
    <c:FoundingAffidavitComponent relatedProcess="{!Process__c}"></c:FoundingAffidavitComponent>
    
</apex:page>