<apex:page contentType="application/msWord" applyBodyTag="false" standardController="Process__c">
    
    <c:ServiceAffidavitComponent relatedProcess="{!Process__c}"></c:ServiceAffidavitComponent>
    
</apex:page>