<apex:component access="global" controller="PdfGeneratorHandler">
    <apex:attribute access="global" name="relatedCase" description="Related Case" type="Case" />
    <apex:variable id="currentCase" value="{!relatedCase.Id}" var="currentCaseId"/>
    
    <head>
         <apex:stylesheet value="{!$Resource.summit_17_1_17_2_stylesheet}"/>
    </head>
    <body style="color:rgb(0,32,96); font-family:Calibri, sans-serif; font-size:0.9em;">
    
    <div class="header">
         <center><apex:image url="{!$Resource.SummitEmailHeader1}" id="HeaderImage"></apex:image></center>
    </div>
  
    <p class="date" style="float:right">
        <apex:outputText value="{0,date,yyyy'/'MM'/'dd}"><apex:param value="{!TODAY()}"/></apex:outputText>
    </p>
    <br/>

    <p class="email_text">
        <b>ATTENTION:</b> {!relatedCase.Related_Liability__r.Credit_Provider__r.Name}
    </p>

    <p class="email_text">
        <b>Client:</b> {!relatedCase.Contact.Name}
        <br/>
        <b>ID #:</b> {!relatedCase.Contact.ID_Number__c}{!relatedCase.Contact.Passport_Number__c}
        <br/>
        <b>Account:</b> {!relatedCase.Related_Liability__r.Credit_Provider__r.Name} {!relatedCase.Related_Liability__r.Type__c}
        <br/>
        <b>Account #:</b> {!relatedCase.Related_Liability__r.Loan_Reference_Number__c}
        <br/>
    </p>

    <p class="email_text">
        To Whom It May Concern,
    </p>

    <h3>Reckless credit agreement in terms of sections 80(1)(b)(ii) of the National Credit Act</h3>


    <p class="email_text">
        Kindly take note that Summit has been authorised to act as lawful agent on behalf of the above client (see
        <b>Power of Attorney attached</b>).
    </p>

    <p class="email_text">
        We submit that the above agreement is reckless in accordance with section 80(1)(b)(ii) of the National Credit Act, as the credit agreement resulted in the consumer becoming over-indebted, as defined in section 79(1). </p>
        
    <p class="email_text">
        We further submit that any reasonable affordability assessment would have shown that the consumer would be unable to afford the credit granted.</p>

    <p class="email_text">
        We therefore request that the outstanding balance on this account be <b>written off</b> with immediate effect to enable the client to fairly service their lawfully granted debt.</p>
        
        <p class="email_text">
        Please respond within <b>five business days</b> or the matter will be escalated. </p>

    <p class="email_text">
        Sincerely,
    </p>

  
    <p class="email_text">
                
                {!relatedCase.Case_Consultant_Name__r.Name}
        <br/>{!relatedCase.Case_Consultant_Name__r.UserRole.Name}
        <br/> Tel: {!relatedCase.SuppliedPhone}
        <br/> Email: {!relatedCase.SuppliedEmail}
        <br/>
        <a href="http://www.summitfin.co.za"> www.summitfin.co.za </a>
    </p>
</body>

</apex:component>