<apex:component access="global" controller="PdfGeneratorHandler">
    <apex:attribute access="global" name="relatedCase" description="Related Case" type="Case" />
    <apex:variable id="currentCase" value="{!relatedCase.Id}" var="currentCaseId"/>
    
    <head>
         <apex:stylesheet value="{!$Resource.summit_17_1_17_2_stylesheet}"/>
    </head>
    <body style="color:rgb(0,32,96); font-family:Calibri, sans-serif; font-size:0.9em;">
    
    <div class="header">
         <center><apex:image url="{!$Resource.SummitEmailHeader1}" id="HeaderImage"></apex:image></center>
    </div>
  
    <p class="date" style="float:right">
        <apex:outputText value="{0,date,yyyy'/'MM'/'dd}"><apex:param value="{!TODAY()}"/></apex:outputText>
    </p>
    <br/>

    <p class="email_text">
        <b>ATTENTION:</b> {!relatedCase.Related_Liability__r.Credit_Provider__r.Name}
    </p>

    <p class="email_text">
        <b>Client:</b> {!relatedCase.Contact.Name}
        <br/>
        <b>ID #:</b> {!relatedCase.Contact.ID_Number__c}{!relatedCase.Contact.Passport_Number__c}
        <br/>
        <b>Account:</b> {!relatedCase.Related_Liability__r.Credit_Provider__r.Name} {!relatedCase.Related_Liability__r.Type__c}
        <br/>
        <b>Account #:</b> {!relatedCase.Related_Liability__r.Loan_Reference_Number__c}
        <br/>
    </p>

    <p class="email_text">
        To Whom It May Concern,
    </p>

    <h3>Request for documents</h3>


    <p class="email_text">
        Summit is authorised to act as an agent on behalf of the above client (see <b>Power of Attorney attached</b>).</p>

    <p class="email_text"> As the client’s duly authorised agent, we hereby request a copy of the full credit agreement and credit assessment for each of the above accounts, including but not limited to:</p>
    
        <ol>
        <li>Proof of income accessed during the loan assessment (pay slips or bank statements)</li>
        <li>Credit Report details accessed during the loan assessment</li>
        <li>Full Affordability Assessment</li>
        <li>Pre-agreement quotation</li>
        <li>Full credit agreement</li>
        <li>Statement of account</li>
    </ol>

    <p class="email_text">
        Kindly send your response within
        <b>10 business days</b>
    </p>

    <p class="email_text">
        Should you have any queries, please do not hesitate to contact us.
    </p>

    <p class="email_text">
        Sincerely,
    </p>

  
    <p class="email_text">
                
                {!relatedCase.Case_Consultant_Name__r.Name}
        <br/>{!relatedCase.Case_Consultant_Name__r.UserRole.Name}
        <br/> Tel: {!relatedCase.SuppliedPhone}
        <br/> Email: {!relatedCase.SuppliedEmail}
        <br/>
        <a href="http://www.summitfin.co.za"> www.summitfin.co.za </a>
    </p>
</body>
</apex:component>