<apex:component access="global">
    <apex:attribute access="global" name="relatedProcess" description="Related Process" type="Process__c" />
    
    <head>
        
        <apex:stylesheet value="{!URLFOR($Resource.pdfStylesheet, 'pdfStylesheet/letter.css')}"/>
        
    </head>
    
    <body>
        
        <div class="footerLetter">
            <center><apex:image url="{!$Resource.CarstensGerickeFooter}" style="width: 250%; height:30%;"></apex:image></center>
        </div>
        
        <div class="watermark">
            
            <div class="pageHeaderLetter">
                <center><apex:image url="{!$Resource.CarstensGericke}"></apex:image></center>
            </div>
            
            <div class="pageOne" style="page-break-after:always;">
                
                <p>Our ref: 	<apex:outputText value=" {!relatedProcess.Case__c}"></apex:outputText></p>
                
                <p>Your ref:	<apex:outputText value=" {!relatedProcess.Credit_Reference__r.Loan_Reference_Number__c}"></apex:outputText></p>
                
                <p class="paragraphDate"><apex:outputText value=" {!TODAY()}"></apex:outputText></p>
                
                <p class="bold">ATTENTION: 	<apex:outputText value=" {!relatedProcess.Credit_Reference__r.Credit_Provider__r.Name}"></apex:outputText></p>
                <p style="margin-left: 85px;"><apex:outputText value=" {!relatedProcess.Credit_Provider_Email__c}"></apex:outputText></p>
                
                <p class="paragraphPadding">Dear Sir / Madam,</p>
                
                <p class="bold">RE:	<apex:outputText value=" {!relatedProcess.Contact__r.Name}"></apex:outputText> // <apex:outputText value=" {!relatedProcess.Credit_Reference__r.Credit_Provider__r.Name}"></apex:outputText></p>
                <p class="bold" style="padding-bottom: 20px;">	  ACCOUNT NUMBER: <apex:outputText value=" {!relatedProcess.Credit_Reference__r.Loan_Reference_Number__c}"></apex:outputText></p>
                
                <p>We refer to the abovementioned account numbers and confirm that we are acting on behalf of <apex:outputText value=" {!relatedProcess.Contact__r.Name}"></apex:outputText> herein. </p>
                
                <p>It is our instructions to request from your offices the following documentation:</p>
                
                <ol type="decimal">
                    <li class="listItemLetter">The pre-agreement statement and quotation for the agreement/s with account number: <apex:outputText value=" {!relatedProcess.Credit_Reference__r.Loan_Reference_Number__c}"></apex:outputText>.</li>
                    <li class="listItemLetter">The signed credit agreement contract/s, together with the terms and conditions; </li>
                    <li class="listItemLetter">The affordability assessment/s conducted by your office prior to granting the credit agreement/s to our client; and </li>
                    <li class="listItemLetter">The supporting financial documents used in conducting the abovementioned affordability assessment/s. </li>
                </ol>
                
            </div>
            
        </div>
        
        <div class="watermark">
            
            <div class="pageTwo">
                
                <p>Kindly forward the requested documents to info@cgprok.co.za within five (5) business days of receipt of this correspondence, in the absence of which our office will proceed on the basis that access to the requested documents were refused by your offices. </p>
                
                <p class="paragraphPadding">We trust you find this in order and await your prompt response herein.</p>
                
                <p>Kind regards,</p>
                <p class="bold">CARSTENS GERICKE ATTORNEYS</p>
                <p class="bold">PER: <apex:outputText value=" {!relatedProcess.Attorney_Name__c}"></apex:outputText></p>
                <p>(not signed due to electronic transmission)</p>
                
            </div>
        </div>
        
    </body>
</apex:component>