<apex:component access="global" controller="PdfGeneratorHandler">
    
    <apex:attribute access="global" name="relatedCase" description="Related Process" type="Case" />
    
    <head>
        
        <apex:stylesheet value="{!$Resource.summitForm17WithdrawalStyles}"/>
        
    </head>
    
    <body>
        
        <div>
            
            <div class="headerSection">
                
                <right><apex:image id="headerImage" style="width: 100%; height: 80%;" url="{!$Resource.SummitHeader1}"></apex:image></right>
                
                <p></p>
                
                <p class="paragraphRightHeader">Form 17.W (Withdrawal from Debt Mediation)</p>
                
            </div>
            
            <div>
                
                <table cellpadding="5">
                    <tr>
                        <th colspan="2" class="rowHeader">
                            Debt Mediation Name: Summit Financial Partners<br/>
                            Registered Mediation code: M006
                        </th>
                    </tr>
                    <tr>
                        <td rowspan="{!liabilityDataListSize}" class="tdBold">To:</td>
                        <td><b>Credit Department(s)</b></td>
                    </tr>
                    <apex:repeat value="{!liabilityDataList}" var="liability" >
                        <tr>
                            <td>
                                Name: {!liability.Credit_Provider__r.NAME}<br/>
                                Address:
                            </td>
                        </tr>
                    </apex:repeat>
                    <tr>
                        <td class="tdBold">From:</td>
                        <td>
                            Debt Mediation Name: Summit Financial Partners<br/>
                            Registered Mediation code: M006<br/>
                            Address of Debt Mediator: Block K Central Park 16th Road,<br/>
                            Midrand, Gauteng 1685<br/>
                            Telephone: 087 806 1011<br/>
                            E-Mail: queries@summitfin.co.za
                        </td>
                    </tr>
                    <tr>
                        <td class="tdBold">Date:</td>
                        <td><apex:outputText value="{0,date,yyyy'/'MM'/'dd}"><apex:param value="{!TODAY()}"/></apex:outputText></td>
                    </tr>
                    <tr>
                        <td class="tdBold">Date Form 16 signed:</td>
                        <td><apex:outputText value="{0,date,yyyy'/'MM'/'dd}"><apex:param value="{!relatedCase.Date_Form_16_Signed__c}"/></apex:outputText></td>
                    </tr>
                    <tr>
                        <th colspan="2" class="rowHeader">Registered Mediation code: M006</th>
                    </tr>
                    <tr>
                        <td class="tdBold">Name and Surname of Consumer(s):</td>
                        <td class="tdBold">ID Number(s):</td>
                    </tr>
                    <tr>
                        <td>{!relatedCase.Contact.Name}</td>
                        <td>{!relatedCase.Contact.ID_Number__c}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="tdBold">Account Name(s):</td>
                        <td class="tdBold">Account Number(s):</td>
                    </tr>
                    <apex:repeat value="{!liabilityDataList}" var="liability" >
                        <tr>
                            <td>{!liability.Credit_Provider__r.NAME}</td>
                            <td>{!liability.Loan_Reference_Number__c}</td>
                        </tr>
                    </apex:repeat>
                </table>
                
                <p><b>This notice serves to notify you that:</b></p>
                
                <ol class="listAlpha">
                    
                    <li style="{!IF(relatedCase.Internal_Status__c ='Client Withdrew Prior 17.2', 'display:block', 'display:none')}">The consumer has withdrawn from the debt mediation process voluntarily.</li>
                    <li style="{!IF(relatedCase.Internal_Status__c ='Not Honoring Payment Agreement', 'display:block', 'display:none')}">The mediation process has been suspended due to the consumer not honouring payment agreement.</li>
                </ol>
                
                <p>Signed at <b>Midrand</b> on this day <b><apex:outputText value="{0,date,dd' of 'MMMM' 'yyyy}"><apex:param value="{!TODAY()}"/></apex:outputText></b></p>
                
                <apex:image id="signature" style="width: 20%; height: 30%;" url="{!$Resource.summit_clark_signature}"></apex:image>
                
                <p>On Behalf of Summit Financial Partners</p>
                
            </div>
            
        </div>
        
    </body>
    
</apex:component>