<apex:component access="global" controller="PdfGeneratorHandler">
    
    <apex:attribute access="global" name="relatedProcess" description="Related Process" type="Process__c" />
    
    <head>
        <apex:stylesheet value="{!$Resource.DC_MAG_Document_Styles}"/>
    </head>
    
    <body>
        
        <P ALIGN="CENTER">
            <apex:outputText value="IN THE MAGISTRATES COURT FOR THE DISTRICT OF {!relatedProcess.Court_Location__c}"/> <br/>
            <apex:outputText value="HELD AT {!relatedProcess.Court_Location__c}"/>
        </P>
        <br/>
        <br/>
        <P ALIGN="RIGHT">
            <apex:outputText value="Case Number: {!relatedProcess.Court_Case_Number__c}"/>
        </P>
        <br/>
        In the matter between:<br/>
        <br/>
        
        <table width="100%">
            <tr >
                <td><apex:outputText value="CLARK GARDNER"/></td>
                <td align="RIGHT">APPLICANT <br/><br/></td>
            </tr>
            <tr>
                <td align="LEFT"> AND <br/><br/></td>
            </tr>
            <tr>
                <td align = "LEFT"> <apex:outputText value="{!UPPER(relatedProcess.Case__r.Contact.Name)}"/></td>
                <td align = "RIGHT">RESPONDENT</td>
            </tr>
            <tr>
                <td align = "LEFT"> 
                    <apex:outputText value="ID: {!relatedProcess.Case__r.Contact.ID_Number__c}"/><br/><br/></td>
            </tr>
        </table>
        
        AND<br/>
        <br/>
        
        <table width="100%">
            <apex:repeat value="{!liabilityRespondentSet}" var="creditProvider">
                <tr class="slds-hint-parent">
                    <td class="slds-size--1-of-4" data-label="CREDITOR NAME" >{!creditProvider}</td>
                    <td align="RIGHT">RESPONDENT <br/><br/></td>
                </tr>
            </apex:repeat>
        </table>
        
        <hr/>
        <P ALIGN="CENTER">
            <apex:outputText value="Index"/>
        </P>
        <hr/>
        
        <br/><br/>
        
        <table width="100%" class="indexTable" style="border-collapse: collapse;" cellpadding="5" border="1" frame="border">
            <tr>
                <th width="10%" class="indexTable_th">No</th>
                <th width="80%" class="indexTable_th">Description</th>
                <th width="10%" class="indexTable_th">Page(s)</th>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
            <tr>
                <td width="10%" class="indexTable_td">&nbsp;</td>
                <td width="80%" class="indexTable_td">&nbsp;</td>
                <td width="10%" class="indexTable_td">&nbsp;</td>
            </tr>
        </table>
        
    </body>
    
</apex:component>