<apex:component access="global" controller="PdfGeneratorHandler">
    <apex:attribute access="global" name="relatedCase" description="Related Case" type="Case" />
    <apex:variable id="currentCase" value="{!relatedCase.Id}" var="currentCaseId"/>
    <html>
        
        <head>
            <apex:stylesheet value="{!$Resource.proposal_stylesheet}"/>
            
            <style>
                @page
                {
                size: A4 landscape;
                }
            </style>
            
        </head>
        
        <body>
            <div class="header">
                <center><apex:image url="{!$Resource.SummitEmailHeader1}" id="HeaderImage"></apex:image></center>
            </div>
            <div style="margin: auto; text-align: center;">
                <h3>PROPOSAL SCHEDULE SUMMARY</h3>
            </div>
            <div class="tables">
                <table class="table_4">
                    <tr class="border_tr">
                        <th class="table_header">Debt Counsellor Details</th>
                        <th class="table_header">Consumer (Applicant) Details</th>
                    </tr>
                    <tr>
                        <td class="border_td">
                            <table class="debt-counsellor-details">
                                <tr>
                                    <td>
                                        <b>Name:</b>
                                    </td>
                                    <td>Clark Gardner</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>NCR Number:</b>
                                    </td>
                                    <td>NCRDC44</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Postal Address:</b>
                                    </td>
                                    <td>PO Box 4042</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Rivonia</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>2128</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Tel No:</b>
                                    </td>
                                    <td>0878061001</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Fax No:</b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Email Address:</b>
                                    </td>
                                    <td>proposal@summitfin.co.za</td>
                                </tr>
                                <tr class="tr-borders">
                                    <td class="tr-borders">
                                        &nbsp;
                                    </td>
                                    <td class="tr-borders">
                                        &nbsp;
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <b>PDA Name:</b>
                                    </td>
                                    <td>Hyphen</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>PDA Code:</b>
                                    </td>
                                    <td>Hyphen</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Tel No:</b>
                                    </td>
                                    <td>0878061001</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Fax No:</b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Email Address:</b>
                                    </td>
                                    <td>proposal@summitfin.co.za</td>
                                </tr>
                                
                            </table>
                        </td>
                        <td>
                            <div class="flex-container">
                                <b>Name:</b>
                                <span>Chauke, Ntsako Mikea</span>
                            </div>
                            <div class="flex-container">
                                <b>ID Number:</b>
                                <span>8702255930086</span>
                            </div>
                            <div class="flex-container">
                                <b>Juristic person registration number:</b>
                                <span>123</span>
                            </div>
                            <div class="flex-container">
                                <b>Tel No:</b>
                                <span>0762267723</span>
                            </div>
                            <!-- <hr> -->
                            <div class="flex-container">
                                
                                <table class="table_5">
                                    
                                    <tr>
                                        <td>
                                            <b>Secondary Consumer (Applicant) Details</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- <hr> -->
                            <div class="flex-container">
                                <b>Tel No:</b>
                                <span>0762267723</span>
                            </div>
                            <div class="flex-container">
                                
                                <b>Id Number:</b>
                                <span>8702255930086</span>
                                
                            </div>
                            
                            <div class="flex-container">
                                <table class="table_5">
                                    <tr>
                                        <td>
                                            <b>Documents can be served to the consumer via facsimile or email at the following number
                                                or address:</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="flex-container">
                                <b>For Attention: &nbsp;</b>
                                <span>Chauke, Ntsako Mikea</span>
                            </div>
                            
                            <div class="flex-container">
                                <b>Id Number:</b>
                                <span></span>
                            </div>
                            
                            <div class="flex-container">
                                <b>Email Address:</b>
                                <span></span>
                            </div>
                            <div class="flex-container">
                                
                                <table class="table_5">
                                    <tr>
                                        <td>
                                            <b>Debt Summary:</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="flex-container">
                                <b>Total Debt: </b>
                                <span>R106,588.42</span>
                            </div>
                            <div class="flex-container">
                                <b>Total Original Monthly Commitment:</b>
                                <span>R5,909.47</span>
                            </div>
                            <div class="flex-container">
                                <b>Affordability after CLI, DC and PDA Fees:</b>
                                <span>R2,736.49</span>
                            </div>
                            <div class="flex-container">
                                <b>Over Indebtedness:</b>
                                <span>2.16%</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <apex:repeat value="{!paymentPlanListFinal}" var="paymentPlan">
                    <table class="table_4" style="margin:0;">
                        <tr>
                            <td style="width:65%;">
                                <div class="flex-container">
                                    <p>
                                        <b>Credit Provider</b>
                                        <span>{!paymentPlan.Liability__r.Credit_Provider__c}</span>
                                    </p>
                                </div>
                                <div class="flex-container">
                                    <p>
                                        <b>Pay Frequency</b>
                                        <span>Monthly</span>
                                    </p>
                                </div>
                                <div class="flex-container">
                                    <p>
                                        <b>Payment Term:</b>
                                        <span>{!paymentPlan.Payment_Term_Cascade__c}</span>
                                    </p>
                                </div>
                            </td>
                            <td style="width:100%;">
                                <div class="flex-container">
                                    <p>
                                        <b>Pay Instruction Acc No:</b>
                                        <span>{!paymentPlan.Liability__r.Loan_Reference_Number__c}</span>
                                    </p>
                                </div>
                                <div class="flex-container">
                                    <p>
                                        <b>Account Number:</b>
                                        <span>{!paymentPlan.Liability__r.Loan_Reference_Number__c}</span>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="table_4">
                    <tr>
                        <td class="border_th">Repayment Amount (Including Insurance and Charges)</td>
                        <td class="border_th">Periods</td>
                        <td class="border_th">From Date</td>
                        <td class="border_th">To Date </td>
                        <td class="border_th">Annual Interest Rate</td>
                        <td class="border_th">Insurance</td>
                        <td class="border_th">Monthly Charges</td>
                    </tr>
                    <tr>
                        <td class="border_td_2">{!paymentPlan.Liability__r.Recurring_Amount__c}</td>
                        <td class="border_td_2">{!paymentPlan.Period__c}</td>
                        <td class="border_td_2">{!paymentPlan.From_Date__c}</td>
                        <td class="border_td_2">{!paymentPlan.To_Date__c}</td>
                        <td class="border_td_2">{!paymentPlan.Interest_Rate__c}%</td>
                        <td class="border_td_2">R{!paymentPlan.Linked_Insurance__c}%</td>
                        <td class="border_td_2">R{!paymentPlan.Monthly_Service_Fees__c}</td>
                    </tr>
                </table>       
                </apex:repeat>         
            </div>
        </body>       
    </html>
    
</apex:component>