<apex:component access="global" controller="PdfGeneratorHandler">
    
    <apex:attribute access="global" name="relatedProcess" description="Related Process" type="Process__c" />
    
    <head>
        
        <style>
        </style>
        
    </head>
    
    <body>
        
        <P ALIGN="CENTER">
            <apex:outputText value="IN THE MAGISTRATES COURT FOR THE DISTRICT OF {!relatedProcess.Court_Location__c}"/> <br/>
            <apex:outputText value="HELD AT {!relatedProcess.Court_Location__c}"/>
        </P>
        <br/>
        <br/>
        <P ALIGN="RIGHT">
            <apex:outputText value="Case Number: {!relatedProcess.Court_Case_Number__c}"/>
        </P>
        <br/>
        In the matter between:<br/>
        <br/>
        
        <table width="100%">
            <tr >
                <td><apex:outputText value="CLARK GARDNER"/></td>
                <td align="RIGHT">APPLICANT <br/><br/></td>
            </tr>
            <tr>
                <td align="LEFT"> AND <br/><br/></td>
            </tr>
            <tr>
                <td align = "LEFT"> <apex:outputText value="{!UPPER(relatedProcess.Case__r.Contact.Name)}"/></td>
                <td align = "RIGHT">RESPONDENT</td>
            </tr>
            <tr>
                <td align = "LEFT"> 
                    <apex:outputText value="ID: {!relatedProcess.Case__r.Contact.ID_Number__c}"/><br/><br/></td>
            </tr>
        </table>
        
        AND<br/>
        <br/>
        
        <table width="100%">
            <apex:repeat value="{!liabilityRespondentSet}" var="creditProvider">
                <tr class="slds-hint-parent">
                    <td class="slds-size--1-of-4" data-label="CREDITOR NAME" >{!creditProvider}</td>
                    <td align="RIGHT">RESPONDENT <br/><br/></td>
                </tr>
            </apex:repeat>
        </table>
        
        <hr/>
        <P ALIGN="CENTER">
            <apex:outputText value="SERVICE AFFIDAVIT "/>
        </P>
        <hr/>
        
        <p>I, the undersigned,</p>
        
        <p ALIGN="CENTER"><b>CLARK GARDNER</b></p>
        
        <p>do hereby make oath and say that:</p>
        
        <ol>
            <li style="padding-top:2%;padding-bottom:2%">I am an adult male appointed as the Debt Counsellor for the First Respondent.</li>
            
            <li style="padding-top:2%;padding-bottom:2%">The facts and allegations contained herein are, save where the context clearly indicates to the 
                contrary, within my own personal knowledge and are to the best of my belief both true and correct.<br/><br/><b>SERVICE OF ISSUED APPLICATION</b><br/></li>
            
            
            
            <li style="padding-top:2%;padding-bottom:2%">I confirm that I provided instructions to the attorney of record to serve the issued application on the Respondents via email, as agreed.</li>
            
            <li style="padding-top:2%;padding-bottom:2%">The issued application was duly served on {!relatedProcess.Date_Credit_Providers_Served__c} on Respondents respectively. Kindly find attached 
                the proof of service of the issued application on the aforementioned Respondents hereto marked <span style="background-color: #f9fa12;">Annexure "{!contactInitials}1"</span>. I further attach the read receipts received from the Respondents 
                marked as <span style="background-color: #f9fa12;">Annexure "{!contactInitials}2"</span>.</li>
            
            <li style="padding-top:2%;padding-bottom:2%">I herewith persist with the relief as sought in the Notice of Motion.</li>
        </ol>
        
        <br/>
        
        <p ALIGN="RIGHT">_____________________________</p>
        <p ALIGN="RIGHT"><b>CLARK GARDNER</b></p>
        
        <br/>
        
        <p style="line-height: 150%;">
            I certify that the deponent has acknowledged that he knows and understands the contents of this 
            affidavit which was signed and sworn to before me at _________________________ on this 
            _________ day of __________________, the regulations contained in government notice no. 
            R1258 of 21 July 1972 and R1648 of 19 August 1977 having been complied with.
        </p>
        
        <br/>
        
        <p ALIGN="RIGHT">_____________________________</p>
        <p ALIGN="RIGHT"><b>COMMISSIONER OF OATHS</b></p>
        
    </body>
    
</apex:component>